<div id="user-container">
    <AuthorizeView>
        <Authorized Context="auth">
            <div>
                @{
                    var name = auth.User.Identity?.Name;
                    if (!string.IsNullOrEmpty(name))
                    {
                        <div>
                            Welcome, @name
                        </div>
                    }
                }
            </div>
            <div>
                <a href="authentication/signout" class="e-btn e-info e-outline">Sign Out</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                Welcome, guest!
            </div>
            <div>
                <a href="profile" class="e-btn e-info e-outline">Sign in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
<style>
    #user-container {
        display: flex;
        gap: 10px;
        align-items: center;
    }
</style>