@rendermode InteractiveAuto

<section>
    <SfAppBar Role="region">
        <h2>Search claims</h2>
    </SfAppBar>
    <SfAppBar Role="button" Id="headerAppBar" ColorMode="AppBarColor.Primary">
        <SfButton CssClass="e-round e-outline e-info" OnClick="ToggleMenu">
            <SfIcon Name="IconName.Adjustment" Title="Open filter" Style="color: white" />
        </SfButton>
        @if (IsDesktop)
        {
            <h4>Filter</h4>
            <AppBarSeparator />
            <h4 class="appbar-title">Claims list</h4>
            <AppBarSeparator />
            <UserPanel />
        }
        <AppBarSeparator />
        <div>Desktop: @IsDesktop</div>
    </SfAppBar>

    <div id="main-container">
        <SfSidebar Position="SidebarPosition.Left" Target="#main-container" @bind-IsOpen="IsMenuOpen" Type="@SidebarDisplayType" EnableGestures="false">
            <div id="search-filter">
                <ClaimSearchForm OnFilterEvent="HandleFormSubmission" />
            </div>
        </SfSidebar>
        <ClaimResultGrid @ref="ClaimResultGrid" OnFilterEvent="ToggleMenu" OnOpenBladeEvent="HandleSideBar" />
        <SfSidebar Width="324px" ID="right-sidebar" Position="SidebarPosition.Right" Target="#main-container" @bind-IsOpen="IsSideBarOpen" Type="SidebarDisplayType">
            <ClaimSummary claim="SelectedClaim" />
        </SfSidebar>
    </div>
</section>
<style>
    #headerAppBar {
        justify-content: space-between;
        column-gap: 16px;
    }

    .appbar-title {
        flex-grow: 1;
    }

    #main-container {
        border: 1px solid white;
        border-radius: 8px;
        padding: 5px;
        background-color: gainsboro;
    }

    #right-sidebar {
        border: 1px solid gray;
        border-radius: 8px;
        padding: 10px 15px;
    }

    #search-filter {
        padding: 10px;
    }
</style>
@code {
    [CascadingParameter(Name = CascadingParams.MediaQuery)] private bool IsDesktopView { get; set; }
    [Parameter] public bool ForceDesktopView { get; set; } // This parameter is used to force desktop view in the dialog, as the media query does not work inside it.

    private bool IsDesktop => ForceDesktopView || IsDesktopView;
    private SidebarType SidebarDisplayType => IsDesktop ? SidebarType.Push : SidebarType.Over;

    private bool IsSideBarOpen { get; set; } = false;
    private bool IsMenuOpen { get; set; } = true;

    private ClaimSearchResponse? SelectedClaim { get; set; }
    private ClaimResultGrid? ClaimResultGrid { get; set; }

    private void ToggleMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }

    private async Task HandleFormSubmission(ClaimSearchFilter filter)
    {
        if (ClaimResultGrid is null) return;
        await ClaimResultGrid.ApplyFilterAsync(filter);
    }

    private void HandleSideBar(ClaimSearchResponse? claim)
    {
        SelectedClaim = claim;
        IsSideBarOpen = claim is not null;
    }
}