@page "/error"

<PageTitle>Error</PageTitle>

<SfCard>
    <CardHeader>
        <h1>An error occurred while processing your request.</h1>
    </CardHeader>
    @if (ShowRequestId)
    {
        <CardContent EnableSeparator="true">
            <strong>Request ID:</strong> <code>@RequestId</code>
        </CardContent>
    }
</SfCard>
@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
