<div>
    <a href="about" class="e-btn e-primary e-outline" title="about us">About Us</a>
</div>
<div>
    <a href="settings" class="e-btn e-primary e-outline" title="Color theme">Settings</a>
</div>
<div>
    <a href="authentication/clear" class="e-btn e-info e-outline" title="browser Cache">Clear browser Cache</a>
</div>
<AuthorizeView Policy="Vendor">
    <Authorized Context="auth">
        <div>
            <a href="claim" class="e-btn e-primary e-outline" title="sign in">Claims</a>
        </div>
    </Authorized>
</AuthorizeView>
<div>
    &copy; @DateTime.UtcNow.ToString("yyyy") Microsoft
</div>
<div>
    WASM Version @(typeof(Program).Assembly.GetName().Version?.ToString(4))
</div>