<UserPanel></UserPanel>
<AuthorizeView>
    <Authorized>
        <div>
            <a href="authentication/signout" class="e-btn e-info e-outline">Sign Out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            Please <a href="claim" class="e-btn e-info e-outline">Sign in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>