<SfCard id="navContainer" role="link">
    <CardContent>
        <div>
            <a href="" class="e-btn e-primary e-outline" title="Home page">Home</a>
        </div>
        <AuthorizeView Policy="Vendor">
            <Authorized>
                <div>
                    <a href="vendor/requests" class="e-btn e-primary e-outline" title="Repair Requests">Repair Requests</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div>
                    <a href="damage" class="e-btn e-primary e-outline" title="Damage Report">Damage Report</a>
                </div>
                <div>
                    <a href="tracking" class="e-btn e-primary e-outline" title="Damage Tracking">Tracking</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div>
            <a href="profile" class="e-btn e-primary e-outline" title="Vendor Profile">My Account</a>
        </div>
    </CardContent>
</SfCard>
<style>
    #navContainer .e-card-content {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-items: center;
    }
</style>