@using Syncfusion.Blazor.Navigations

@inject IImageService ImageService

<SfCarousel ID="control-container" AnimationEffect="CarouselAnimationEffect.Fade">
    @if (!Images.Any())
    {
        <CarouselItem>
            <h2>No images have been uploaded.</h2>
        </CarouselItem>
    }
    else
    {
        @foreach (var image in Images)
        {
            <CarouselItem>
                <figure>
                    <img src="@image.Url" alt="@image.FileName" />
                    <figcaption>@image.FileName</figcaption>
                </figure>
            </CarouselItem>
        }
    }
</SfCarousel>

<style>
    #control-container {
        margin: 0 auto;
    }

        #control-container img {
            max-width: 100%;
            max-height: 500px;
            object-fit: contain;
        }
</style>

@code {
    [Parameter] public int DamageId { get; set; }

    private List<ImageItem> Images { get; set; } = [];

    protected override async Task OnParametersSetAsync()
    {
        Images = await ImageService.ListAsync(DamageId);
    }
}