@page "/vendor/requests"
@attribute [Authorize(Policy = "Vendor")]
@inject IVendorRepo vendorRepo
@inject ToastService toastService

<PageTitle>Repair Requests | Property Claims</PageTitle>
<section>
    @if (damageList != null)
    {
        foreach (var item in damageList)
        {
            <DamageInfo DamageContext="@item"></DamageInfo>
        }
    }
</section>
@code {
    IReadOnlyList<DamageEntry> damageList { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            damageList = await vendorRepo.ListDamageVendorEntriesAsync(CancellationToken.None);
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}