@page "/vendorprofile"
@attribute [Authorize(Policy = "Vendor")]
@inject IDamageRepo damageRepo

<PageTitle>Vendor Profile | Property Claims</PageTitle>

<div>
        @if (damageList != null)
        {
            foreach (var item in damageList)
            {
                //<DamageInfo DamageContext="@item" OnToggleBladeEvent="ToggleBlade" IsBladeOpen="isSideBarOpen"></DamageInfo>
                <div>zzzzz</div>
            }
        }
</div>
@code {
    IReadOnlyList<DamageEntry> damageList { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        damageList = await damageRepo.ListDamageEntriesAsync(CancellationToken.None);
    }
}