@page "/vendor"
@page "/vendor/profile"
@attribute [Authorize(Policy = "Vendor")]
@inject IVendorRepo vendorRepo
@inject ToastService toastService

<PageTitle>Vendor Profile | Property Claims</PageTitle>

<section>
    <VendorDetails Vendor="model"></VendorDetails>
</section>
@code {
    private VendorModel? model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            model = await vendorRepo.GetVendorAsync();
        } catch (Exception ex)
        {
            toastService.ShowError(ex.Message);
        }
    }
}