@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService authz

<div>User: @identity?.Name</div>
<div>Auth Type: @identity?.AuthenticationType</div>
<div>RoleClaimType: @identity?.RoleClaimType</div>
<div>Is Vendor: @isVendor</div>

@if (User?.Claims?.Any() == true)
{
    <div>All Claims:</div>
    <ul>
        @foreach (var claim in User.Claims.OrderBy(c => c.Type))
        {
            <li><strong>@claim.Type</strong>: @claim.Value</li>
        }
    </ul>
}

@code {
    [Parameter]
    public ClaimsPrincipal? User { get; set; }

    private ClaimsIdentity? identity;
    private bool isVendor;

    protected override async Task OnParametersSetAsync()
    {
        identity = User?.Identity as ClaimsIdentity;

        if (User is not null)
        {
            var result = await authz.AuthorizeAsync(User, "Vendor");
            isVendor = result.Succeeded;
        }
        else
        {
            isVendor = false;
        }
    }
}