@using Microsoft.AspNetCore.Components.Authorization;

<AuthorizeView>
    <Authorized Context="auth">
        <div id="user-container">
            @{
                var name = auth.User.Identity?.Name;
                if (!string.IsNullOrEmpty(name))
                {
                    <div>
                        Welcome, @name
                    </div>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            Welcome, guest!
        </div>
    </NotAuthorized>
</AuthorizeView>
<style>
    #user-container {
        display: flex;
        gap: 10px;
    }
</style>