@rendermode InteractiveAuto
<SfCard role="link">
    <CardContent>
        <div id="damage-brief">
            <ShortDescription DamageContext="DamageContext"></ShortDescription>
            <div>
                <SfButton type="button" IsPrimary="true" CssClass="e-outline" OnClick="ToggleBlade" Content="@(IsBladeOpen ? "Hide" : "Review damage report")">
                </SfButton>
            </div>
        </div>
    </CardContent>
    <CardContent EnableSeparator="true">
        <SfButton type="button"
                  OnClick="OnSubmit"
                  IconCss="e-icons e-smart-paste" IconPosition="IconPosition.Right" IsPrimary="true"
                  CssClass="@(DamageContext?.IsProcessed==true ? "" : "e-outline")"
                  Content="Chat">
        </SfButton>
        <SfButton type="button"
                  OnClick="OnSubmit"
                  IconCss="e-icons e-smart-paste" IconPosition="IconPosition.Right" IsPrimary="true"
                  CssClass="@(DamageContext?.IsProcessed==true ? "" : "e-outline")"
                  Content="Pick up">
        </SfButton>
    </CardContent>
    <CardContent EnableSeparator="true">
        <Estimate></Estimate>
    </CardContent>
</SfCard>
<style>
    #damage-brief {
        display: flex;
        justify-content: space-between;
    }
</style>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public bool IsBladeOpen { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }

    private async Task ToggleBlade()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }

    private async Task OnSubmit()
    {
    }
}