<SfCard role="link">
    <CardContent>
        <div class="spread-across">
            <Description DamageContext="DamageContext"></Description>
            <div>
                <SfButton type="button" IsPrimary="true" CssClass="e-outline" OnClick="ToggleBlade" Content="@(IsBladeOpen ? "Hide" : "Review damage report")">
                </SfButton>
            </div>
        </div>
    </CardContent>
    <CardContent EnableSeparator="true">
        <div class="spread-across">
            <SfMessage Severity="@GetSeverity(DamageContext.StatusId)">@GetStatusText(DamageContext.StatusId)</SfMessage>
            <SfButton type="button"
                      OnClick="OnSubmit"
                      IconCss="e-icons e-smart-paste" IconPosition="IconPosition.Right" IsPrimary="true"
                      CssClass="e-outline"
                      Content="Proceed with Service">
            </SfButton>
        </div>
    </CardContent>
    <CardContent EnableSeparator="true">
        <Estimate damageContext="DamageContext"></Estimate>
    </CardContent>
</SfCard>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public bool IsBladeOpen { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }

    private async Task ToggleBlade()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }

    private async Task OnSubmit()
    {
    }

    private MessageSeverity GetSeverity(int statusId)
    {
        return (DamageStatus)statusId switch
        {
            DamageStatus.Reported or DamageStatus.WaitingForVendorAssignment or DamageStatus.EstimatePending
                => MessageSeverity.Info,
            DamageStatus.VendorAssigned or DamageStatus.ServiceScheduled or DamageStatus.InspectionScheduled
                => MessageSeverity.Success,

            DamageStatus.WorkInProgress
                => MessageSeverity.Warning,

            DamageStatus.WorkCompleted or DamageStatus.Closed
                => MessageSeverity.Success,

            DamageStatus.Cancelled
                => MessageSeverity.Error,

            DamageStatus.OnHold
                => MessageSeverity.Warning,

            _ => MessageSeverity.Info
        };
    }

    private string GetStatusText(int statusId)
    {
        return ((DamageStatus)statusId).ToString();
    }
}