@rendermode InteractiveAuto
<SfCard role="link">
    <CardContent>
        <div id="damage-brief">
            <DamageLong DamageContext="DamageContext"></DamageLong>
            <div>
                <SfButton type="button" CssClass="e-outline e-primary" OnClick="ToggleBlade" Content="@(IsBladeOpen ? "Hide" : "Edit damage")">
                </SfButton>
            </div>
        </div>
    </CardContent>
</SfCard>
<style>
    #damage-brief {
        display: flex;
        justify-content: space-between;
    }
</style>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public bool IsBladeOpen { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }

    private async Task ToggleBlade()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }
}