<SfCard role="link">
    <CardContent EnableSeparator="true">
        <div class="spread-across">
            <div id="damage-summary">
                <div>
                    Damage reported on @($"{DamageContext.DateOfLoss:g}")
                </div>
                @{
                    foreach (var item in DamageContext.Sections)
                        if (!string.IsNullOrWhiteSpace(item.Entry))
                        {
                            <div>
                                Requested <strong>@item.DamageSectionType?.Name</strong>
                                <div>@item.Entry</div>
                            </div>
                        }
                }
            </div>
            <div>
                <SfButton type="button" CssClass="e-outline e-primary" OnClick="ToggleBlade" Content="@(IsBladeOpen ? "Hide" : "Review damage")">
                </SfButton>
            </div>
        </div>
    </CardContent>
    <CardContent EnableSeparator="true">
        <div class="spread-across">
            <div>
                Vendors looking at it:
                <SfButton type="button" Content="Select Vendor"
                          IconCss="e-icons e-smart-paste" IconPosition="IconPosition.Right" IsPrimary="true"
                          CssClass="e-outline">
                </SfButton>
            </div>
            <SfButton type="button"
                      OnClick="OnChat"
                      IconCss="e-icons e-smart-paste" IconPosition="IconPosition.Right" IsPrimary="true"
                      CssClass="e-outline"
                      Content="Chat">
            </SfButton>
        </div>
    </CardContent>
    <CardContent EnableSeparator="true">
        Insurance coverage:
    </CardContent>
</SfCard>
<style>
    #damage-summary {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
</style>
@code {
    [Parameter] public DamageEntry DamageContext { get; set; } = default!;
    [Parameter] public bool IsBladeOpen { get; set; } = default!;
    [Parameter] public EventCallback<DamageEntry> OnToggleBladeEvent { get; set; }

    private async Task ToggleBlade()
    {
        await OnToggleBladeEvent.InvokeAsync(DamageContext);
    }

    private async Task OnChat()
    {
    }
}