@using Microsoft.Extensions.Hosting;

@inject IJSRuntime jSRuntime
@inject SfDialogService dialogService
@inject NavigationManager nav
@inject IHostEnvironment environment

@implements IAsyncDisposable

<div id="google-container" class="fade-in">
    <label id="map-label">Local contractors near the property</label>
    <gmp-map id="nearbymap" aria-labelledby="map-label" role="region"></gmp-map>
</div>
<style>
    #google-container {
        padding: 2px;
        background-color: white;
        border-radius: 6px;
    }

    #nearbymap {
        height: 400px;
    }
</style>

@code {
    [Parameter] public double? Latitude { get; set; }
    [Parameter] public double? Longitude { get; set; }
    [Parameter] public EventCallback<string> OnSelectionEvent { get; set; }

    [Inject]
    private DamageState DamageState { get; set; } = default!;

    private DotNetObjectReference<GoogleMap>? _objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        if (Latitude != null && Longitude != null)
        {
            _objRef = DotNetObjectReference.Create(this);

            await jSRuntime.InvokeVoidAsync("googleMap.initMap", "nearbymap", Latitude, Longitude, 16, _objRef);
            if (!environment.IsDevelopment())
            {
                await jSRuntime.InvokeVoidAsync("googleMap.searchPlaces", Latitude, Longitude);
            }
        }
    }

    [JSInvokable]
    public async Task OpenVendorDialog(string placeId, string vendorName)
    {
        if (!OnSelectionEvent.HasDelegate)
        {
            bool isConfirm = await dialogService.ConfirmAsync(null, vendorName,
                new DialogOptions
                {
                    CssClass = "popup-dialog",
                    PrimaryButtonOptions = new DialogButtonOptions
                    {
                        Content = "Continue", IconCss = "e-icons e-check-large"
                    },
                    CancelButtonOptions = new DialogButtonOptions
                    {
                        Content = "Close", IconCss = "e-icons e-close"
                    },
                    AnimationSettings = new DialogAnimationOptions
                    {
                        Effect = DialogEffect.Zoom
                    },
                    ChildContent = builder =>
                    {
                        builder.OpenComponent<Vendor>(0);
                        builder.AddAttribute(1, "PlaceId", placeId);
                        builder.CloseComponent();
                    }
                });
            if (isConfirm) nav.NavigateTo("damage");
        }
        else
        {
            await OnSelectionEvent.InvokeAsync(placeId);
        }
    }

    public ValueTask DisposeAsync()
    {
        _objRef?.Dispose();
        return ValueTask.CompletedTask;
    }
}